<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>
        <style>
            body{
                background-image: url("{% static back %}");
            }
            
            .flex-container{
                display: flex;
                width: 100%;
                height: 50%;
                align-items: center;
                justify-content: center;
                padding:1cm;
            }
            .flex-container> div{
                width: 7cm ;
                height: 8.0cm ;
                background-color: rgb(255, 255, 255);
                text-align: center;
                margin-top: 0.5cm ;
                margin: 2cm;
                opacity: 0.69;
                padding-top: 0.3cm;
                padding-left: 1cm;
                padding-right: 1cm;
                padding-bottom: 0.57cm;
            }
            header{
                margin-top:0.3cm;
                margin-bottom: 1cm;
            }
            p{
                font-size: 23px;
                font-family:Times New Roman;
            }
            a:link{
                background-color:rgb(104, 156, 80) ;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
            }
            a:hover{
                background-color:rgb(218, 241, 206);
                color:black;
                text-decoration: none;
                padding: 10px 20px;
            }
            h1{
                font-size: 40px;
                font-family:Archivo ;
            }
        </style>
    </head>
    <body>
        <header>
            <center>
                <img src="{% static profile %}" width="125" height="125" >
                <h1>About Me</h1>
            </center>
        </header>

        <section>
            <div class="flex-container">
            <div>
                <p><b>Profile</b></p>
                <table cellpadding="5">
                    <tr>
                        <td><img src="{% static profileid %}" width="30"height="30"> </td>
                        <td>Angelin Depthios</td>
                    </tr>
                    <tr>
                        <td> <img src="{% static ID %}" width="30" height="30"></td>
                        <td>1906426771</td>
                    </tr>
                    <tr>
                        <td><img src="{% static university %}" width="30" height="30"></td>
                        <td>Computer Science</td>
                    </tr>
                    <tr>
                        <td><img src="{% static univ %}" width="30" height="30"></td>
                        <td>Universitas Indonesia</td>
                    </tr>
                </table>
            </div>
            <div>
                <p><b>Education</b></p>
                <table cellpadding="5">
                    <tr>
                        <td><img src="{% static edu %}" width="35" height="35"></td>
                        <td>SD Kemurnian II(2007-2013)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>SMPK IPEKA TOMANG(2013-2016)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>SMA IPEKA TOMANG(2016-2019)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Universitas Indonesia(2019-now)</td>
                    </tr>
                </table>
            </div>
            <div>
                <p><b>Experience</b></p>
                <table cellpadding="5">
                    <tr>
                        <td><img src="{% static exp %}" width="35" height="35"></td>
                        <td>Voli</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pramuka</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Kepanitiaan Perak</td>
                    </tr>
                </table>
                <p><b>Skill</b></p>
                <table cellpadding="2,5">
                    <tr>
                        <td><img src="{% static hobby %}" width="30" height="30"></td>
                        <td>Python</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>HTML,CSS</td>
                    </tr>
                </table>
            </div>
            </div>
            <center>
            <a href="/home/">Previous Page</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <a href="/description/">Next Page </a>
            </center>
        </section>
    </body>
</html>