<html>
     {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Archivo Black' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>
        <style>
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.left {
    width: 15%;
    height: 100%;
    float: left;
    background-image: url(" {% static one %}");
    border-collapse: collapse;
    background-repeat: no-repeat;
}

.middle {
    width: 30%;
    height: 100%;
    float: left;
    background-image: url("{% static middle %}");
    border-collapse: collapse;
}

.right {
  width: 55%;
  height: 100%;
  position: relative;
  float: right;
  background-color:#99E276;
  border-collapse: collapse;
}
.flex-box{
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: left;
    width: 13cm;
    height: 5.5cm;
    margin-top: 2cm;
    margin-left:1cm;
}
.flex-box > div{
    margin: 20px;
    padding: 15px;
    text-align: left;
    left: 50%;
}
.content2 {
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align:left;
    margin-top: 3cm;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: Archivo Black;
}
p{
    font-size: 23px;
    font-family: Archivo;
}
.container1 {
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 20%;
  left: 50%;
  margin-top: 5cm;
  margin-left: 2.5cm;
}
a:link, a:active{
    text-decoration: none;
    background-color: rgb(112, 173, 84);
    color: black;
    padding: 0.3cm;
}
a:hover{
    text-decoration: none;
    background-color: rgb(220, 255, 204);
    color: black;
    padding: 0.3cm;
}
</style>
</head>
<body>
<div class="container">
  <div class="left">
      </div>
  <div class="middle">
      <div class="container1">
          <img src=" {% static me %}" width="75%">
      </div>
  </div>
  <div class="right">
      <div class="content2">
          <h1> Short description</h1>
          <div class="flex-box">
               <p class="fill"> My name is Angelin Depthios. I am currently studying computer 
               science at Universitas Indonesia.The next two years I'm going to continue
               my study to University of Quennsland in Australia,
               majoring Information System. My hobbies 
               are watching, eating, and travelling.</p>
          </div>  
          <br><br><br><br> 
            <a href="/about/">Previous Page</a></td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/socialmedia/">Next Page</a>  
            </div>
        </div>
</body>
</html>