<html>
    <head>
        <style>
            body{
                width: 100%;
                height: 100%;
                margin: 0;
                background-color:#99E276;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>Angelin's friend</h1>

        <table border="1">
            
            <tr>
                <td>Name</td>
                <td>Food</td>
                <td>Drinks</td>
                <td>Hobby</td>
                <td>Year</td>
            </tr>
            {% for i in friendss %}
            <tr>
                
                <td> {{ i.FirstName }} </td> 
                <td>{{ i.FavouriteFood}}</td>
                <td>{{ i.FavouriteDrink}}</td>
                <td>{{ i.Hobby }}</td>
                <td>{{ i.year_choice }}</td>
               
            </tr>
            {% endfor %}
        </table>
    </center>
        <br>
    </body>
</html>