<html>
<head>
    <style>
        .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #99E276;
        }

        .flex-container>div {
        background-color:white;
        color:black;
        width: 25%;
        height: 35%;
        padding-left: 2.5cm;
        padding-right: 2.5cm;
        padding-bottom: 3.5cm;
        padding-top: 1.1cm;
        opacity: 0.9;
        }
        span{
            font-size: 35px;
            font-family: Tahoma;
        }
    </style>

</head>

<body>
<div class="flex-container">
<div>
    <span><b>Friend List</b></span><br><br><br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="OK">
</form>
</div>
</div>
</body>


</html>