<html> {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .column1{
            float:left;
            width:50%;
            height:100%;
            background-color:#99E276;
        }
        .column2{
            width:50%;
            height:100%;
            background-color:white;
            float: left;
            background-image: url("{% static home %}");
        }
        .content-col2{
            justify-content: center;
            padding-top: 38%;
            padding-left:1.5cm;
        }
        .content-col1{
            justify-content: left;
            padding-top: 38%;
            padding-left:1.5cm;
        }
        p{
            font-family:Times New Roman;
            font-size: 50px;
        }
        hr{
        height: 3px;
        background-color: black;
        }
        a:link{
            background-color: rgb(194, 236, 174);
            color:black;
            padding: 0.2cm;
            text-decoration: 0.25cm;

        }
        a:hover{
            background-color: rgb(155, 196, 136);
            color:black;
            padding: 0.25cm;
            text-decoration: none;
        }
        body{
            background-color: #99E276;
        }
    </style>
    </head>
    <body>
        <nav class="navbar bg-transparent navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">About me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/description/">Description</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/socialmedia/">Social Media</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog/form">Friends</a>
                </li>    
              </ul>
            </div>  
          </nav>
          <br>
        <div class="column1">
            <div class="content-col1"><p>Hello!<br> Welcome to my Page<br><hr></p>
            <br>
            <a href="/about/">Read More</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary bg-success" data-toggle="modal" data-target="#exampleModal">
    Message 
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Greetings!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Hello! This is my first page with modal! I hope you enjoy exploring my page!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bg-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
           <div class="column2">
               <div class="content-col2">   
            <img src="{% static profile %}" style ="width:30%"></div>
        </div>
    </body>
</html>