<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            .flex-box{
                display: flex;
                background-color: #99E276;
                width: 100%;
                height: 50%;
                align-items: center;   
                justify-content: center;
                padding: 5px;
            }
            .flex-box > div{
                margin: 20px;
                padding: 20px;
                font-size:30px;
                text-align: center;
                width: 50%;
                height: 50%;
            }
            p{
                background-color:rgb(111, 172, 83) ;
                color: black;
                text-align: center;
                padding: 5px 5px 5px 5px;
            }
            img{
                width: 100px;
                height: 100px;
            }
            header{
                background-color: #99E276;
                padding-top: 1cm;
                padding-bottom: 1cm;
                text-align: center;
                align-items: center;
            }
            body{
                background-color: #99E276;
            }
            h1{
                font-family: Cormorant Upright;
                font-size: 2cm;
            }
            a:link{
                background-color:rgb(104, 156, 80) ;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
            }
            a:hover{
                background-color:rgb(218, 241, 206);
                color:black;
                text-decoration: none;
                padding: 10px 20px;
            }
        </style>

    </head>
    <body>
        <header>
            <h1> Social Media </h1>
        </header>
        <div class="flex-box">
            <div>
            <img src="{% static ig %}">
            <p> @angelindepthios </p>
            </div>
            <div>
            <img src="{% static line %}">
            <p>angelindepthios</p>
            </div>
            <div>
            <img src="{% static mail %}">
            <p>angelindepthioss@gmail.com</p>
            </div>
            <div>
            <img src="{% static music %}">
            <p>spotify</p>
            </div>
        </div>
        <footer>
            <center>
            <a href="/description/">Previous Page</a>
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            <a href="/home/">Back to home</a>
        </center>
        </footer>
    </body>
</html>